@import "mocha.css";

/* oft-font-awesome is required for icons */
* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-weight: bolder;
	font-size: 18px;
}

window#waybar {
	background-color: transparent;
	color: @text;
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* Module configuration */

/* Modules */
.modules-left,
.modules-center,
.modules-right {
	background: alpha(@crust, 0.6);
	margin: 10px 0px 10px 0px;
	border-radius: 10px;
}

/* Modules Left */
.modules-left {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Modules Right */
.modules-right {
	margin-right: 8px;
	border-radius: 10px;
	padding: 8px;
	background: alpha(@crust, 0.6);
}

/* Default margin/padding for modules */
#bluetooth,
#temperature,
#network,
#cpu,
#memory,
#pulseaudio,
#battery,
#clock,
#workspaces {
	padding: 0 5px;
}

/* Workspaces */
#workspaces button {
	all: unset;
	padding: 0px 5px;
	color: alpha(@blue, .4);
	transition: all .2s ease;
}

#workspaces button:hover {
	color: rgba(0, 0, 0, 0);
	border: none;
	text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
	transition: all 1s ease;
}

#workspaces button.active {
	color: @blue;
	border: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
	color: rgba(0, 0, 0, 0);
	border: none;
	text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
	color: rgba(0, 0, 0, 0);
	border: none;
	text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
	transition: all 1s ease;
}

#workspaces button.empty.active {
	color: @blue;
	border: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
